.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-back-ground-01{
    background-size: contain;
    background: url("https://www.xmple.com/wallpaper/blue-white-gradient-linear-1920x1080-c2-fffaf0-87ceeb-a-30-f-14.svg");
    background-attachment:fixed ;
}

.custom-back-ground-02{
    background-size: contain;
    background: url("http://images6.fanpop.com/image/photos/36100000/Christmas-image-christmas-36118465-1920-1200.jpg");
    background-attachment:fixed ;
}
.custom-back-ground-03{
    background-size: contain;
    background: url("https://images.squarespace-cdn.com/content/v1/5a57d99dd0e6283ac5d598f3/1518130157288-2GBB12X8R59DRL8MRBGE/bg-white.png?format=2500w");
    background-attachment:fixed ;
}
.opacity {
    opacity: 0.8;
}

.opacity:hover {
    opacity: 1;
    cursor: pointer;
    transition: 0.5s;
}

.zoom-loop  {
    animation: zoom-loops 3s ease infinite;
    cursor: pointer;
}

@keyframes zoom-loops {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.05)
    }
}

.carousel-inner, .carousel, .carousel-item, .container, .fill {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.slide-wrapper {
    display: inline;
}

.slide-wrapper .container {
    padding: 0;
}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner > .carousel-item.carousel-item-next,
.carousel-inner > .carousel-item.active.carousel-item-right {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    top: 0;

}

.carousel-inner > .carousel-item.carousel-item-prev,
.carousel-inner > .carousel-item.active.carousel-item-left {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    top: 0;

}

.carousel-inner > .carousel-item.next.carousel-item-left,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right,
.carousel-inner > .carousel-item.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    top: 0;

}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    width: auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.carousel-indicators li {
    display: block;
    margin-bottom: 5px;
    border: 10px solid #5473e5;
    border-radius: 10px;
}

.carousel-indicators li.active {
    border: 10px solid #56d1ff;

}
iframe{
    width: 100%!important;
    height: 300px!important;
}
.img-fix{
    width: 143.88px!important;
    height: 143.88px!important;
}